body{
  background-color: #e34289;  
  font-size: 20px;
}
main{
 background: url('../images/u4.jpg') no-repeat;
  background-size: cover;
}
.lesson-item{
  margin-top: 1em;
}
.kefu {
  opacity: 0;
  left: -9999px;

  position: fixed;
  border-radius: 4px;
  top: 50%;
  width: 90%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  border: 2px solid #fdcd2f;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  padding: 1.7em 0 1.5em 0; 

  color: #333;
  line-height: 2em;
  font-size: 0.7rem;
  font-family: 'PingFangSC-Regular', sans-serif;
  font-weight: 200;
  font-size: 0.7rem;
  text-align: center;

  background-color: #ededed;
  background-size: contain;
  
  }
  .kefu > * {
    -webkit-align-self: center;
    align-self: center; }
  .kefu .cancel {
    font-size: 1.7rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: .1em;
    color: #666; }
  .kefu .kefu_info {
    margin-bottom: 1em;
    width: 80%; }
    .kefu .kefu_info em {
      color: #fc8a24;
      font-weight: 400;
      font-family: PingFangSC-Semibold; }
  .kefu .iknow {
    width: 6em;
    padding: 0 .5em 0 .5em;
    border-radius: .2em;
    background: #fdcd2f; }